Telegram2.json
{
  "name": "Telegram2",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "820c93cd-e811-411f-bd65-adf8078fb768",
      "name": "Telegram Trigger",
      "webhookId": "8d4a1714-371c-4645-8aa1-9eb76e4c6f49",
      "credentials": {
        "telegramApi": {
          "id": "uHD5VRAvWg7wDTEi",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "7b03b064-d95a-4d6f-9c71-57d0a16771eb"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "c61efe3a-c5f4-4cca-ae6e-c9159ae3815e",
                    "leftValue": "={{ $json.message.voice.file_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audio"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        240,
        0
      ],
      "id": "cd4c4626-28a6-4fde-a770-e28fbf42e6b5",
      "name": "Switch"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f743334f-7598-463f-ac9e-443b3f6e8cca",
              "name": "text",
              "value": "={{ $json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        544,
        -96
      ],
      "id": "02f2030d-0dac-4270-b471-79e16a4c64ab",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "=# Role\nYou are an assistant with access to multiple tools.\n\n# Behavior\nYou respond concisely and succinctly in a friendly and approachable style.\n\n# Date and time: {{ $now }}\n\n# Tools\nYou have access to multiple tools and always use the appropriate one depending on the task.\n\n## Gmail Summary\nUse this tool to summarize emails.\n\n## Gmail_Send\nUse this tool to send emails. You sign every email with \"Fran\" and never use empty placeholders for names.\nEnsure that emails are well-formatted with a proper body.\n\n## Calendar_Set\nUse this tool to schedule appointments in the calendar.\n\n## Calendar_Get\nUse this tool to find calendar events and inform me when I have an appointment."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        848,
        0
      ],
      "id": "cdd08b5c-061d-41c6-bf19-a6f3a3c00ccd",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        656,
        304
      ],
      "id": "5325367d-69b6-48d0-a9e9-d4ad30c1c652",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "apGzUPdtWE3ixjEf",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.voice.file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        432,
        128
      ],
      "id": "5c3612e1-d586-4312-a0c6-8588a9ee8a28",
      "name": "Get a file",
      "webhookId": "a5109b62-fac6-47f0-8070-3cece0b5f4fd",
      "credentials": {
        "telegramApi": {
          "id": "uHD5VRAvWg7wDTEi",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Switch').item.json.message.chat.id }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        848,
        304
      ],
      "id": "44f13d93-45e7-476e-8bd4-d0f4188a3196",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "chatId": "={{ $('Switch').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1200,
        0
      ],
      "id": "ae3de87d-b13a-442b-b990-ae11f068526d",
      "name": "Send a text message",
      "webhookId": "644db154-1b03-4024-9724-35f53600ee7c",
      "credentials": {
        "telegramApi": {
          "id": "uHD5VRAvWg7wDTEi",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": 10,
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.2,
      "position": [
        992,
        304
      ],
      "id": "e2391c06-667b-4918-ba44-d035e2e778f9",
      "name": "Gmail_summary",
      "webhookId": "8e06894a-b822-470e-9e71-515bb4ffc66a",
      "credentials": {
        "gmailOAuth2": {
          "id": "DKTxL3DdQQk6PZv4",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        640,
        128
      ],
      "id": "c7389978-ab36-4f48-af4d-1c718ac7bb5f",
      "name": "Transcribe a recording",
      "credentials": {
        "openAiApi": {
          "id": "apGzUPdtWE3ixjEf",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "emailType": "text",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.2,
      "position": [
        1104,
        304
      ],
      "id": "bb8ff26d-0183-4ca1-aec6-895880655b8d",
      "name": "Send a message in Gmail",
      "webhookId": "2cadc65f-40bd-4660-98df-648b033a8d95",
      "credentials": {
        "gmailOAuth2": {
          "id": "DKTxL3DdQQk6PZv4",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "fran.melgar08@gmail.com",
          "mode": "list",
          "cachedResultName": "fran.melgar08@gmail.com"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1296,
        304
      ],
      "id": "5dfd8891-b14f-4beb-9776-7452b717985c",
      "name": "Calendar_Set",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "uiNW40nTIrQ7FxaU",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "fran.melgar08@gmail.com",
          "mode": "list",
          "cachedResultName": "fran.melgar08@gmail.com"
        },
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', ``, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1472,
        304
      ],
      "id": "28617a77-46bd-4f0b-8422-307daef9305a",
      "name": "## Calendar_Get",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "uiNW40nTIrQ7FxaU",
          "name": "Google Calendar account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail_summary": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message in Gmail": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Calendar_Set": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "## Calendar_Get": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "timezone": "America/Argentina/Buenos_Aires",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "0b0c8c3a-ca7c-4458-a719-b7896640b237",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7c3f467f3b4b56b7afc10c9d10a3a2a0267eb74f2d178e9c95b7ae2337c47c46"
  },
  "id": "lfPUpHzXPXyFukOU",
  "tags": []
}